* {
    font-family: 'Nunito', sans-serif;
}

.text-justify {
    text-align: justify!important;
}

.col-buttons {
    width: 100px;
}

.label-required:after {
    content: "*";
    color: var(--bs-danger);
}

.btn:disabled,
.btn.disabled {
    cursor: not-allowed!important;
    opacity: 0.5;
}

/* CUSTOM ACCORDION */
#resultAccordion.accordion {
    border: 1px solid #B60203;
    border-radius: 0!important;
}

#resultAccordion.accordion .accordion-item {
    border-bottom: 1px solid #B60203;
    border-radius: 0!important;
}

#resultAccordion .accordion-button {
    background-color: #fff!important;
    border: none!important;
    border-radius: 0!important;
    color: #B60203!important;
    /* font-weight: bold!important; */
    /* padding: 0.75rem 1.25rem!important; */
    text-align: left!important;
    width: 100%!important;
}

#resultAccordion .accordion-button:focus {
    border-color: #B60203!important;
    box-shadow: none!important;
}

#resultAccordion .accordion-button:not(.collapsed) {
    background-color: #B60203!important;
    color: #fff!important;
}

#resultAccordion .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23B60203'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#resultAccordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#resultAccordion .accordion-item:first-of-type .accordion-button {
    border-radius: 0!important;
}

#resultAccordion .accordion-item:last-of-type .accordion-button {
    border-radius: 0!important;
}

/* CUSTOM ALERT */
.alert {
    border-radius: 0!important;
}
.alert-pastel-green {
    background-color: #d5f5e3!important;
    border-color: #d5f5e3!important;
    color: #317144!important;
}

.alert-pastel-red {
    background-color: #f8d7da!important;
    border-color: #f8d7da!important;
    color: #721c24!important;
}

/* CUSTOM BUTTON */
.btn-yellow {
    background-color: #FFC993!important;
    border-color: #FFC993!important;
    color: #fff!important;
}

.btn-grey {
    background-color: #2B2B2B!important;
    border-color: #2B2B2B!important;
    color: #fff!important;
}

.btn-delete {
    background-color: #de6365!important;
    border-color: #de6365!important;
    color: #fff!important;
}

.btn-pink:hover {
    background-color: #f97f86!important;
    border-color: #f97f86!important;
    color: #fff!important;
}

.btn-outline-pink {
    color: #FF8C94!important;
    background-color: transparent!important;
    background-image: none!important;
    border-color: #FF8C94!important;
}
.btn-outline-pink:hover {
    color: #fff!important;
    background-color: #FF8C94!important;
    border-color: #FF8C94!important;
}

.btn-pastel-red {
    background-color: #de6365!important;
    border-color: #de6365!important;
    color: #fff!important;
}
.btn-pastel-red:hover {
    background-color: #f97f86!important;
    border-color: #f97f86!important;
    color: #fff!important;
}

/* CUSTOM CARD */
.card {
    border: 1px solid var(--bs-danger);
    border-radius: 0!important;
}

.card-header {
    background-color: #B60203!important;
    border: none!important;
    border-radius: 0!important;
}

/* CUSTOM COLOR */
.badge-pink {
    background-color: #FFB6B9;
}

.bg-white {
    color: #fbfbfb;
}

.bg-cream {
    background-color: #FAE3D9!important;
}

.bg-pink-100 {
    background-color: #FCEEF5!important;
}

.bg-grey-layout {
    color: #f1f1f1;
}

.bg-grey-100 {
    background-color: #c8c8c8;
}

.bg-grey-200 {
    background-color: #2B2B2B!important;
}

.bg-red-200 {
    background-color: #B60203!important;
}

.bg-pink-200.active {
    background-color: #fda9ac!important;
}

.bg-pink-300 {
    background-color: #ff607e!important;
}

.text-brown {
    color: #78716c!important;
}

.text-darkbrown {
    color: #292524!important;
}

/* .text-white {
    color: #fffefb;
} */

#layoutSidenav_nav a.text-white:not(.active):hover {
    background-color: #3d3a36!important;
}

#layoutSidenav_nav .active .text-white,
#layoutSidenav_nav .active.text-white {
    /* background-color: #3d3a36!important; */
    color: #292524!important;
}
